
.app
.app__page {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    
    display: flex;
    background: gray;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: fantasy;
    
  }
  
  .App {
    text-align: center;
    font-family:Georgia, Times;
    background-color: darkgray;
    font-size: small;

  }